<div class="flex h-screen">
  <div class="w-1/5 bg-gray-200">
    <!-- Menu lateral -->
  </div>
  <div class="w-3/4 bg-white">
    <div class="p-6">
      <div class="flex justify-between">
        <h1 class="text-2xl font-bold mb-4">Entidades</h1>
        <button>opa</button>
      </div>
      <div class=" p-6 border-solid border-2 border-600 rounded-2xl">
        <mat-form-field appearance="fill" class="w-full rounded-2xl">
          <mat-label>Pesquisar usuário</mat-label>
          <input matInput [(ngModel)]="searchText" (input)="searchUsers()">
          <mat-icon matPrefix class="mr-2 text-gray-400">search</mat-icon>
        </mat-form-field>
        <table class="table-auto w-full">
          <thead>
            <tr>
              <th class="px-4 py-2">Nome</th>
              <th class="px-4 py-2">Região</th>
              <th class="px-4 py-2">Especialidade</th>
              <th class="px-4 py-2">Ativa</th>
              <th class="px-4 py-2">Ações</th>
            </tr>
          </thead>
          <tbody *ngIf="filteredEntity.length > 0; else noData">
            <tr *ngFor="let entityItem of filteredEntity">
              <td class="border px-4 py-2">{{ entityItem.name }}</td>
              <td class="border px-4 py-2">{{ entityItem.region }}</td>
              <td class="border px-4 py-2">{{ entityItem.specialty }}</td>
              <td class="border px-4 py-2">{{ entityItem.isActive ? 'Sim' : 'Não' }}</td>
              <td class="border px-4 py-2">
                <button mat-icon-button color="primary" aria-label="Detalhes">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Editar">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #noData>
          <tr>
            <td class="text-center py-4" colspan="5">Não foram encontrados resultados</td>
          </tr>
        </ng-template>
      </div>
    </div>
  </div>
</div>
